/Aula_12/nbproject/private/
/.metadata/
/Aula_12/build/
/Preview_Aula_13/nbproject/private/
/Preview_Aula_13/build/
/Preview_Aula_13/dist/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/act_23_05/nbproject/private/
/act_23_05/build/
/aula_13_A/nbproject/private/
/aula_13_A/build/
/aula_13_P/nbproject/private/
/aula_13_P/build/
/Aula_BST_Generics/build/
/Aula_BST_Generics/nbproject/private/
